@model List<Event>
@{
    ViewData["Title"] = "Index";
}

<!-- Banner Area Start -->
@await Component.InvokeAsync("Banner","event")
<!-- Banner Area End -->

<!-- Event Start -->
<div class="event-area three text-center pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="course-title" style="text-align:left;">
                    <h3>search events</h3>
                </div>
                <div class="course-form">
                    <form id="search" action="#">
                        <input type="search" id="event-search-input" placeholder="Search..." name="search" />
                    </form>
                </div>
                <div id="event-result"></div>
            </div>
        </div>
        <div class="row" id="event-list" >

            @foreach (var eventItem in Model)
            {
                <div class="col-md-4 col-sm-6 col-xs-12" id="event-card">
                    <div class="single-event mb-60">
                        <div class="event-img">
                            <a asp-action="EventDetail" asp-route-id="@eventItem.Id">
                                <img src="img/@eventItem.EventImageName" alt="event">
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                            <div class="event-date">
                                <h3>@eventItem.EventTime.ToString("dd MMMM yy")</h3>
                            </div>
                        </div>
                        <div class="event-content text-left">
                            <h4><a asp-action="EventDetail" asp-route-id="@eventItem.Id">@eventItem.Title</a></h4>
                            <ul>
                                <li><span>time:</span> @eventItem.EventTime.ToString("dd MMMM yy")</li>
                                <li><span>venue</span> @eventItem.EventCity</li>
                            </ul>
                            <div class="event-content-right">
                                <a class="default-btn" asp-action="EventDetail" asp-route-id="@eventItem.Id">join now</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Event End -->

