@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
    int count = 0;
}
<!-- Background Area Start -->
<section id="slider-container" class="slider-area two">
    <div class="slider-owl owl-theme owl-carousel">
        @foreach (var item in Model.SliderImages)
        {
                 <div class="single-slide item" style="background-image: url(img/@item.SliderImagesName)">
                       <!-- Start Slider Content -->
                       <div class="slider-content-area">
                            <div class="container">
                                 <div class="row">
                                         <div class="col-md-10 col-md-offset-1">
                                             <div class="slide-content-wrapper">
                                                  <div class="slide-content text-center">
                                                      <h2>@item.Title</h2>
                                                      <p>@item.Description </p>
                                                      <a class="default-btn" href="about.html">Learn more</a>
                                                  </div>
                                             </div>
                                       </div>
                                 </div>
                            </div>
                       </div>
                     <!-- Start Slider Content -->
                 </div>          
         }
    </div>
</section>
<!-- Background Area End -->

<!-- About Start -->
<div class="about-area pb-155">
    @await Component.InvokeAsync("WelcomeToEduhome")
</div>
<!-- About End -->
<!-- Courses Area Start -->
<div class="courses-area two pt-150 pb-150 text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="~/img/section1.png" alt="section-title">
                    <h2>COURSES WE OFFER</h2>
                </div>
            </div>
        </div>
   @await Component.InvokeAsync("Course")
    </div>
</div>
<!-- Courses Area End -->
<!-- Notice Start -->
<section class="notice-area two pt-140">
    @await Component.InvokeAsync("Notice")
</section>
<!-- Notice End -->
<!-- Event Area Start -->
<div class="event-area two text-center pt-100 pb-145">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="~/img/section.png" alt="section-title">
                    <h2>UPCOMMING EVENTS</h2>
                </div>
            </div>
        </div>
        <div class="row">
          
              @foreach (var item in Model.Events)
                 {
                     @if (count == 0)
                      {
                          @Html.Raw("<div class='col-md-6 col-sm-12 col-xs-12'>")
                          @Html.Raw("<div class='single-event mb-35'>")
                      }

                      else if (count % 2 != 0 && count != 0)
                      {
                          @Html.Raw("</div>")
                          @Html.Raw("<div class='single-event hidden-sm hidden-xs'>")
                      }

                      else if (count % 2 == 0)
                      {
                          @Html.Raw("</div>")
                          @Html.Raw("</div>")
                          @Html.Raw("<div class='col-md-6 col-sm-12 col-xs-12'>")
                          @Html.Raw("<div class='single-event mb-35'>")
                      }
                          <div class="event-img">
                                 <a asp-action="EventDetail" asp-route-id="@item.Id"><img src="~/img/@item.EventImageName" style="width:150px;height:150px" alt="event"></a>
                          </div>

                          <div class="event-content text-left">
                              <h3>@item.EventTime.ToString("dd MMMM yyyy")</h3>
                              <h4><a asp-action="EventDetail" asp-route-id="@item.Id">@item.Title</a></h4>
                          <ul>  
                              <li><i class="fa fa-clock-o"></i>@item.EventTime.ToString("h.mm tt")</li>
                              <li><i class="fa fa-map-marker"></i>@item.EventCity</li>
                          </ul>

                          <div class="event-content-right">
                              <a class="default-btn" asp-action="EventDetail" asp-route-id="@item.Id">join now</a>
                          </div>

                          </div>
                count++;
                }        
                @Html.Raw("</div>")
            
           </div>
        </div>
    </div>
</div>
<!-- Event Area End -->
<!-- Testimonial Area Start -->
<div class="testimonial-area pt-110 pb-105 text-center">
  @await Component.InvokeAsync("Testimonial")
   
</div>
<!-- Testimonial Area End -->
<!-- Blog Area Start -->
<div class="blog-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title text-center">
                    <img src="~/img/section.png" alt="section-title">
                    <h2>LATEST FROM BLOG</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @await Component.InvokeAsync("Blog")
        </div>
    </div>
</div>
<!-- Blog Area End -->

