@model NoticeViewModel
@{
    int count = 0;
}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="notice-right-wrapper mb-25 pb-25">
                    <h3>TAKE A VIDEO TOUR</h3>
                    <div class="notice-video" style="background:url(../img/@Model.VIdeoTour.VideoImage)">
                        <div class="video-icon video-hover">
                            <a class="video-popup" href="@Model.VIdeoTour.Link">
                                <i class="zmdi zmdi-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="notice-left-wrapper">
                    <h3>notice board</h3>
                    <div class="notice-left">
                        @foreach (var item in Model.NoticeArea)
                        {
                            @if (count == 0)
                            {
                                @Html.Raw("<div class='single-notice-left mb-23 pb-20'>")
                            }
                            else if (count == 1)
                            {
                                @Html.Raw("<div class='single-notice-left hidden-sm mb-23 pb-20'>")
                            }
                            else if (count == 2)
                            {
                                @Html.Raw("<div class='single-notice-left pb-70'>")
                                count = 0;
                            }
                            <h4>@item.StartTime.ToString("dd, MMMM yyyy")</h4>
                            <p>@item.Description</p>
                            @Html.Raw("</div>")
                            count++;
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
